<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491220361726-3kf4l976b99qb93vrprn8qsgs1qabe8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491220361726-3kf4l976b99qb93vrprn8qsgs1qabe8n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>491220361726-s9uhvdgo6ft7ltn7k75620epd8krj783.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAREuWzX1M7SC2ty3eqE14XS_PXnAt5NSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>491220361726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.intermedialabs.hq</string>
	<key>PROJECT_ID</key>
	<string>high-q</string>
	<key>STORAGE_BUCKET</key>
	<string>high-q.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491220361726:ios:12d01bb28b5c6335</string>
	<key>DATABASE_URL</key>
	<string>https://high-q.firebaseio.com</string>
</dict>
</plist>